
.no-scroll {
  overflow:hidden !important;
}
.border-red-10 {
    border-bottom: 3px solid #0dcaf0;
    width: 10%;
    text-align: left;
}
.border-red-20 {
    border-bottom: 3px solid #0dcaf0;
    width: 20%;
    text-align: left;
}
.border-red-30 {
    border-bottom: 3px solid #0dcaf0;
    width: 30%;
    text-align: left;
}
.border-red-30.left {
    margin-left: 0px;
}
.main-container {
    position: relative;
    z-index: 9;
}
.overlay-x {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #000000aa;
    opacity: 0;
    transition:all 0.2s linear;
}
.overlay-x.active {
    position: fixed;
    opacity: 1;
    z-index: 99;
}
.rri-thumbs {
    margin-top: 10px;
    margin-bottom: 70px;
}
.rri-thumbs .item {
    margin-bottom: 10px;
}
.rri-thumbs .item img {
    border: 1px solid #eee;
    cursor: pointer;
}
.rri-thumbs .item.active img,
.rri-thumbs .item:hover img {
    border: 1px solid #ccc;
}
.pt-50 {padding-top: 50px;}
.mt-50 {margin-top: 50px;}
.item.subvert a {
    display: block;
    border-bottom: 1px solid #eee;
    padding: 4px 15px 4px 17px;
    position: relative;
    line-height: 18px;
}
.item.subvert.active a {
    color: #0dcaf0;
    background: #fafafa;
}
.item.subvert a:hover {
    background: #fafafa;
}
.item.subvert a i {
    position: absolute;
    left: 7px;
    top: 7px;
}
.rfq-frame {
    border: 1px dashed #ccc;
    padding: 25px 35px;
    border-radius: 15px;
    background:url(../image/bg2.jpg);
}
h3.red-title {
    padding: 10px 15px;
    font-size: 13px;
    text-transform: uppercase;
}
.module-title a {
  color: inherit !important;
}
.rri-module {
    margin-bottom:50px;
}
.rri-module-content {
    padding:0 10px;
}
.rri-module-content .item.has-sub {
}
.rri-module-content .item.has-sub:before {
    font-family: "Font Awesome 5 Free"; 
    font-weight: 500; 
    content: "\f0fe";
    color: #ccc;
    font-size: 12px;
    margin-right: 3px;
}
.megamenu .root-icon {
  padding-right: 5px;
  color: #ccc;
  padding-bottom: -38px;
  display: block;
  float: left;
  margin-top: 5px;
}
.css-menu:hover .root-icon, 
.item-vertical:hover .root-icon {
  color: #fff;
}
.category-style .item a.active {
    color: #0dcaf0;
}
table.rri-table {
  overflow-x: auto;
  display: block;
}
table.rri-table tr td,
table.rri-table-full tr td {
    border: 1px solid #ccc;
    padding: 5px 10px;
    font-size: 13px;
}
table.rri-table tr td a,
table.rri-table-full tr td a {
    color: #0dcaf0;
}
table.rri-table .brand-logo,
table.rri-table-full .brand-logo {
    height: 80px;
}

.btn {
    font-size:13px;
    padding: 10px 17px;
    border:0px;
}
.btn-primary {
    background-color: #0dcaf0;
}
.btn-primary:hover {
    background-color: red;
}
h3.red-title {
    padding: 10px 15px;
    font-size: 13px;
    text-transform: uppercase;
}
.rri-module {
    margin-bottom:50px;
}
.rri-module-content {
    padding:0 10px;
}
.category-style .item a.active {
    color: #0dcaf0;
}
li.owl2-item {
    float: left;
    width: 101px;
}
li.owl2-item:first-child,
li.owl2-item:nth-child(5) {
    margin-left: 0px;
}
li.owl2-item a.thumbnail {
    border-radius:0px;
}
.rri-red {
    color:#0dcaf0 !important;
}
.rri-black {
    color:#666 !important;
}
.rri-ccc {
    color:#ccc !important;
}
.rri-text-10 {
  font-size:10px !important;
}
.rri-text-11 {
  font-size:11px !important;
}
.rri-text-12 {
  font-size:12px !important;
}
.rri-lh-20 {
  line-height: 20px !important;
}
.o-3 {
  opacity: 0.3;
}
.o-4 {
  opacity: 0.4;
}
.modal.rri-modal .modal-body {
  padding: 25px;
  font-size: 13px;
}
.modal .modtitle {
  padding-top: 10px;  
}
.modal .list-icon li {
  position: relative;
  padding-left: 30px;
  margin-bottom: 10px;
}
.modal .list-icon li span {
  position: absolute;
  top: 4px;
  left: 0;
  font-size: 20px;
  color: red;
}
.rri-ul {
  padding: 0 0 0 22px;
}
.rri-ul li {
  list-style-type: circle;
}
.rri-table,
.rri-table-full {
  width: 100%;
}
.modal-content {border-radius:0px !important;}
.modal-header {
  background: #0dcaf0;
  color: white;
  border: 0px;
  text-transform: uppercase;
}
hr.s {
    margin: 15px 0;
}
hr.spacer {
    margin: 0px;
    padding: 0px;
    border:0px;
}
hr.spacer.xs {
    height:10px;
}
hr.spacer.s {
    height:20px;
}
hr.spacer.m {
    height:40px;
}
hr.spacer.l {
    height:60px;
}
hr.spacer.xl {
    height:100px;
}
.partner {
    margin-bottom:20px;
}
.bg-grey {
    background:#efefef;
    color: #666;
}
.btn-primary.focus, .btn-primary:focus {
  background: #0dcaf0;
}
.grid-item {
    padding: 0 0 15px 0;
    margin-bottom: 30px;
}
.grid-item:hover .title a {
    color:#0dcaf0;
}

.grid-item .title a{
  line-height: 22px;
  color: gray;
}
.container-megamenu.vertical .vertical-wrapper ul.megamenu > li > .sub-menu .content .static-menu .menu > ul li a.main-menu:hover {
    color:#0dcaf0;
}
.lSAction {
  display: none !important;
}
.form-control {
  border-radius: 0px;
  height: 38px;
}



@media (max-width: 768px) {
  body {
    padding-bottom: 35px;
    padding-top: 80px;
  }
  .mt-xs-20 {margin-top: 20px !important;}
  .block-xs {
    display: block !important;
  }
  .rri-thumbs {
    margin-bottom: 10px;
  }
  header.typeheader-2 .header-middle {
    padding-top: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    position: fixed;
    top: 0;
    background:white;
    z-index: 999;
  }
  header.typeheader-2 .logo {
    margin-bottom: 10px;
  }
  .btn {
    font-size: 15px;
    padding: 14px 17px;
  }
  .grid-item .title {
    height: 50px;
  }

  .grid-item a img {
    width: 500px;
    height: 500px;
  }

  #search0 {
    width:100%;
  }
  .navbar-header .fa.fa-bars {
    margin-right: 5px;
  }
  .megamenu-style-dev .navbar-default .horizontal .navbar-toggle .icon-bar {
    margin: 3px 0;
    width: 14px;
  }
  header.typeheader-2 .search-header-w {
    margin:0px;
  }
  header.typeheader-2 .search-header-w .icon-search i {
    font-size: 14px;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu > li > a {
    padding: 8px 0 8px 15px;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu > li.hover:before {
    height: 43px;
    line-height: 43px;
  }
  .megamenu-style-dev.responsive ul.megamenu > li.active .close-menu {
    line-height: 43px;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper {
    padding:0px !important;
  }
  ul.breadcrumb {
    padding:0px !important;
    margin-bottom: 10px;
    text-align: center;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu li .sub-menu .content {
    background:#eee;
  }
  .container-megamenu.vertical .vertical-wrapper ul.megamenu > li > .sub-menu .content .static-menu .menu > ul ul li:hover a,
  .container-megamenu.vertical .vertical-wrapper ul.megamenu > li > .sub-menu .content .static-menu .menu > ul ul li:active a {
    color: #0dcaf0;
    transform: scale(1.01);
  }
  .thumb-vertical-outer ul li .thumbnail.active {
    margin-top:0px;
  }
  .megamenu-style-dev .navbar-default .horizontal .megamenu-wrapper {
    padding:0px !important;
  }
  #content .container-megamenu.horizontal ul.megamenu > li, header .container-megamenu.horizontal ul.megamenu > li {
    padding: 8px 0 8px 15px;
  }
  .megamenu-style-dev.responsive ul.megamenu > li.click:before, .megamenu-style-dev.responsive ul.megamenu > li.hover:before {
    line-height: 46px;
    height: 46px;
  }
  .responsive ul.megamenu > li.click:before, .responsive ul.megamenu > li.hover:before {
    content:none;
  }
  .megamenu-style-dev.responsive ul.megamenu > li.active {
    padding: 8px 0 8px 15px;
  }
  .megamenu-style-dev.responsive ul.megamenu > li.active > a {
    background:inherit !important;
  }
  .megamenu-style-dev .navbar-default .horizontal .megamenu-wrapper ul.megamenu > li.active > a {
    padding: 0px !important;
  }
  .products-list .title a {
    font-size: 12px;
  }
  .overlay-x {
    display: none !important;
  }
  .product-preview .desc {
    line-height: 18px;
  }
  .mobile-tray .item {
    min-height: 140px !important;
  }
}